@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;300;400&display=swap');
:root{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'raleway', sans-serif;
    background-color: #f4f4f4 ;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

/*----------------------------H E A D E R------------------------------------*/
header{
    width: 100%;
    height: 15vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
}
.logo{
    width: 60px;
    position: relative;
    top: 10px;
    left: 77px;
}
.navbar{
    float: right;
    padding-left: 0;
    padding-right: 0;
}
.navbar li{
    display: inline;
    list-style-type: none;
}
.navbar li a{
    color: #919090;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    /* padding: 0.5rem 1rem; */
    padding: 0 8px;
    position: relative;
    top: 33px;
    right: 100px;
}
.navbar li a.active{
    color: #fff;
}
.navbar li a:hover{
    color: #D1AD5D;
}
@media (max-width: 1200px){
    #header{
        height: auto;
    }
    .navbar{
        visibility: hidden;
    }
    .header-logo{
        display: flex;
        justify-content: center;
    }
    .logo{
        width: 14vh;
        position: relative;
        left: 0;
    }
}
/*----------------------------------H O M E---------------------------------------*/

#home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}
.bg-image{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Images/slider-02.jpg');
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.name{
    text-align: center;
    font-size: 8vh;
    font-weight: 300;
}
.name-2{
    font-size: 8vh;
    font-weight: 300;
    text-align: center;
}
.lorem{
    font-weight: 200;
    font-size: 5vh;
    text-align: center;
}
button.learnMore{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 3vh 9vh;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 2vh;
}
button.learnMore:hover{
    color: #D1AD5D;
    border: 1px solid #D1AD5D;
}
button.learnMore:focus{
    outline: none;
    background: #D1AD5D;
    color: #fff;
}
/* @media (max-width:1200px){
    .name{
        font-size: 80px;
    }
    .name-2{
        font-size: 80px;
    }
} */
/*------------------------------S E L L E R S---------------------------------------*/

#sellers{
    width: 100%;
    background: #f4f4f4;
    height: auto;
    overflow: hidden;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 70vh;
    height: auto;
    background: #fff;
    text-align: center;
} 
.fa-star::before{
    content: "\f005";
}
.card-heading{
    font-size: 6vh;
    font-weight: 500;
    margin-bottom: 30px;
}
.card-text{
    color: #919090;
    padding: 0 15px;
}
.sellerHeading{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'helvatica', serif;
    font-weight: 200;
}
.view-product{
    margin-top: 35px;
    font-weight: 400;
}
.arrow{
    font-weight: 700;
    margin-left: 5px;
}
.button{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 10px;
}
button.all-products{
    background: #D1AD5D;
    padding: 15px 40px;
    color: #fff;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.custom-star{
    color: #D1AD5D;
}
@media (max-width: 1200px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
    #sellers{
        height: 240vh;
    }
    .sellerHeading{
        font-size: 80px;
    }
    .card{
        margin-top: 20px;
    }
    .card-img{
        width: 500px;
    }
    .card-text{
        font-size: 30px;
    }
    .card-heading{
        font-size: 70px;
    }
    .view-product{
        position: relative;
        font-size: 40px;
    }
    button{
        padding: 20px 50px;
        background-color: #fff;
    }
}

/*---------------------P R O D U C T---- O V E R V I E W--------------------------------*/

#overview{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #D1AD5D;
    color: #fff;
    text-align: center;
}
.product-overview{
    padding: 15vh 20vh;
}
.overview-heading{
    font-size: 7vh;
    font-weight: 300;
}
.overview-text{
    font-size: 3vh;
}
.hr{
    background: #fff;
    height: 0.5vh;
    width: 20vh;
    margin: 20px 0;
}
.center{
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px){
    #overview{
        display: flex;
        flex-direction: column;
    }
    .overview-img img{
        width: 500px;
    }
}

/*------------------------------------P R O D U C T S-------------------------------------*/

#products{
    width: 100%;
    height: auto;
    background: #fff;
}
.product-heading{
    text-align: center;
    font-size: 8vh;
    font-weight: 300;
    padding-top: 20px;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px; */
}

/*------------------------------------A B O U T---C O M P A N Y--------------------------------------*/

#about{
    width: 100%;
    height: 60vh;
    text-align: center;
    color: #fff;
}
.about-heading{
    color: #D1AD5D;
}
.about-bg{
    background:  url(../Images/slider-03.jpg);
    width: 100%;
    height: 60vh;
    background-position: center;
    background-size: cover;
    position: fixed;
    overflow: hidden;
}
hr{
    width: 80%;
    background-color: black;
    outline: none;
    border: 1px solid black;
    border-radius: 100%;
    margin: auto;
}